In [2]:
# Importation des bibliothèques nécessaires  
import pandas as pd 
import os  
import csv
import numpy as np  
from sqlalchemy import create_engine, text
from sqlalchemy import create_engine,MetaData, Column, Integer, String, Float,DateTime,Table 
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.exc import ProgrammingError 
from sqlalchemy.dialects.mysql import YEAR 
from sqlalchemy.dialects.mysql import insert
from sqlalchemy.orm import sessionmaker  
from pandas.io import sql
import subprocess
from urllib.parse import quote_plus
import time

### 1- Création de la Database market

In [4]:
# Create an engine and connect to MySQL

password = quote_plus("Plrtsp@2023!")
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306', echo=False)
conn = engine.connect()

# Create database if not exists
conn.execute(text("CREATE DATABASE IF NOT EXISTS marketplace"))
print(conn.execute(text("SHOW DATABASES")).fetchall())
conn.close()
# Use the new database
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306/marketplace', echo=False)
conn = engine.connect()
conn.execute(text("USE marketplace"))

[('cleaned_superstoredata',), ('friends',), ('information_schema',), ('marketplace',), ('marketplace_store',), ('mysql',), ('performance_schema',), ('project_book',), ('project_satifcli',), ('sakila',), ('sys',), ('world',)]

In [8]:
password = quote_plus("Plrtsp@2023!")     # ICI la base de données est déja crée et prête et je vérifie ma connection
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306/marketplace')
connection= engine.connect()
print(connection)

<sqlalchemy.engine.base.Connection object at 0x0000016DB6616790>

### 2- Lecture des fichiers

In [10]:
df_clients=pd.read_csv(r"C:\\Users\\chris\\Desktop\\Brief_ALBD\\data-csv\\clients.csv", sep=';')
df_produits=pd.read_csv(r"C:\\Users\\chris\\Desktop\\Brief_ALBD\\data-csv\\produits_sous_categorie.csv",sep=';')
df_ventes=pd.read_csv(r"C:\\Users\\chris\\Desktop\\Brief_ALBD\\data-csv\\ventes.csv", sep=';')

In [12]:
df_clients.head()

  client_id sex  birth
0    c_4450   f   1977
1     c_277   f   2000
2    c_4270   f   1979
3    c_4597   m   1963
4    c_1242   f   1980

In [40]:
df_clients.shape

(336488, 3)

In [14]:
df_produits.head()

  product_id     category        sub_category  price  stock_quantity
0     0_1483    Vêtements            T-shirts   4,99              48
1      2_226      Montres  Montres connectées  65,75              63
2      1_374  Accessoires         Sacs à main  10,71              97
3     0_2186    Vêtements            T-shirts    4,2              57
4     0_1351    Vêtements            T-shirts   8,99              59

In [16]:
df_ventes.head()

  product_id              date session_id client_id  quantity_sold
0     0_1483  10/04/2021 18:37    s_18746    c_4450              5
1      2_226  03/02/2022 01:55   s_159142     c_277              6
2      1_374  23/09/2021 15:13    s_94290    c_4270              3
3     0_2186  17/10/2021 03:27   s_105936    c_4597              8
4     0_1351  17/07/2021 20:34    s_63642    c_1242              2

### 3- Connexion et Création des tables

In [18]:
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Float, DateTime, ForeignKey,  func  
from sqlalchemy.dialects.mysql import insert  
from sqlalchemy.sql import select
from sqlalchemy.exc import ProgrammingError  
import pandas as pd  
import pymysql  
from datetime import datetime 

# Configuration de la connexion à la base de données  
password = quote_plus("Plrtsp@2023!")
engine = create_engine(f'mysql+pymysql://root:{password}@localhost/marketplace?charset=utf8mb4') 
metadata = MetaData()  


# Définition des tables  
clients_table = Table('clients', metadata,  
    Column('client_id', String(10), primary_key=True),  
    Column('sex', String(1)),  
    Column('birth', Integer)  
)  

produits_table = Table('produits_sous_categorie', metadata,  
    Column('product_id', String(20), primary_key=True),  
    Column('category', String(50)),  
    Column('sub_category', String(50)),  
    Column('price', Float),  
    Column('stock_quantity', Integer)  
)  

ventes_table = Table('ventes', metadata,  
    Column('id_vt', Integer, primary_key=True, autoincrement=True),  
    Column('product_id', String(20), ForeignKey('produits_sous_categorie.product_id')),  
    Column('date', DateTime),  
    Column('session_id', String(10)),  
    Column('client_id', String(10), ForeignKey('clients.client_id')),  
    Column('quantity_sold', Integer)  
)

In [36]:
def create_tables():  
    metadata.create_all(engine)  
    print("Tables créées avec succès.")  

def check_tables_exist():  
    try:  
        with engine.connect() as conn:  
            conn.execute(select(1).select_from(clients_table).limit(1))  
            conn.execute(select(1).select_from(produits_table).limit(1))  
            conn.execute(select(1).select_from(ventes_table).limit(1))  
        print("Toutes les tables nécessaires existent déjà.")  
    except ProgrammingError:  
        print("Au moins une table n'existe pas. Création des tables...")  
        create_tables()

### 4- Chargement et Insertion dans la BDD "marketplace"

In [27]:
def preprocess_data(df):  
    if 'price' in df.columns:  
        df['price'] = df['price'].str.replace(',', '.').astype(float)  
    if 'date' in df.columns:  
        df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y %H:%M')  
    return df  

def insert_data(df_clients, df_produits, df_ventes):  
    with engine.begin() as conn:  
        try:  
            # Prétraitement des données  
            df_clients = preprocess_data(df_clients)  
            df_produits = preprocess_data(df_produits)  
            df_ventes = preprocess_data(df_ventes)  

      # Suppression des doublons complets pour les clients  
            df_clients_unique = df_clients.drop_duplicates(subset=['client_id', 'sex', 'birth'])  
            print(f"Nombre de lignes uniques pour les clients : {len(df_clients_unique)}")  

            # Insertion des clients  
            for _, row in df_clients_unique.iterrows():  
                stmt = insert(clients_table).values(row.to_dict())  
                stmt = stmt.on_duplicate_key_update(  
                    sex=stmt.inserted.sex,  
                    birth=stmt.inserted.birth  
                )  
                conn.execute(stmt)  
            print(f"Insertion des clients terminée. Nombre de lignes : {len(df_clients_unique)}")  

            # Suppression des doublons complets pour les produits  
            df_produits_unique = df_produits.drop_duplicates(subset=['product_id', 'category', 'sub_category', 'price', 'stock_quantity'])  
            print(f"Nombre de lignes uniques pour les produits : {len(df_produits_unique)}")  

            # Insertion des produits  
            for _, row in df_produits_unique.iterrows():  
                stmt = insert(produits_table).values(row.to_dict())  
                stmt = stmt.on_duplicate_key_update(  
                    category=stmt.inserted.category,  
                    sub_category=stmt.inserted.sub_category,  
                    price=stmt.inserted.price,  
                    stock_quantity=stmt.inserted.stock_quantity  
                )  
                conn.execute(stmt)  
            print(f"Insertion des produits terminée. Nombre de lignes : {len(df_produits_unique)}")  

            # Insertion des ventes (inchangée)  
            for _, row in df_ventes.iterrows():  
                stmt = insert(ventes_table).values(row.to_dict())  
                conn.execute(stmt)  
            print(f"Insertion des ventes terminée. Nombre de lignes : {len(df_ventes)}")  

            print("Données insérées avec succès.")  
        except Exception as e:  
            print(f"Erreur lors de l'insertion des données: {e}")  
            raise  


    # Vérification du nombre de lignes dans chaque table  
    with engine.connect() as conn:  
        clients_count = conn.execute(select(func.count()).select_from(clients_table)).scalar()  # Select count(*) from clients
        produits_count = conn.execute(select(func.count()).select_from(produits_table)).scalar() # Select count(*) from produits 
        ventes_count = conn.execute(select(func.count()).select_from(ventes_table)).scalar()   # Select count(*) from ventes

    print(f"Nombre de lignes dans la table clients : {clients_count}")  
    print(f"Nombre de lignes dans la table produits : {produits_count}")  
    print(f"Nombre de lignes dans la table ventes : {ventes_count}")  

# Charger les données depuis des fichiers CSV  
df_clients = pd.read_csv(r"C:\Users\chris\Desktop\Brief_ALBD\data-csv\clients.csv", sep=';')  
df_produits = pd.read_csv(r"C:\Users\chris\Desktop\Brief_ALBD\data-csv\produits_sous_categorie.csv", sep=';')  
df_ventes = pd.read_csv(r"C:\Users\chris\Desktop\Brief_ALBD\data-csv\ventes.csv", sep=';')  

# Vérifier si les tables existent et les créer si nécessaire  
check_tables_exist()  

# Insérer les données  
insert_data(df_clients, df_produits, df_ventes)

Au moins une table n'existe pas. Création des tables...
Tables créées avec succès.
Nombre de lignes uniques pour les clients : 8600
Insertion des clients terminée. Nombre de lignes : 8600
Nombre de lignes uniques pour les produits : 3239
Insertion des produits terminée. Nombre de lignes : 3239
Insertion des ventes terminée. Nombre de lignes : 336488
Données insérées avec succès.
Nombre de lignes dans la table clients : 8600
Nombre de lignes dans la table produits : 3239
Nombre de lignes dans la table ventes : 336488

In [29]:
import sqlalchemy  
print(sqlalchemy.__version__)

2.0.25

In [33]:
 print(f"Nombre de clients uniques : {df_clients['client_id'].nunique()}")  
 print(f"Nombre de produits uniques : {df_produits['product_id'].nunique()}")

Nombre de clients uniques : 8600
Nombre de produits uniques : 3239