In [2]:
# Importation des bibliothèques nécessaires  
import pandas as pd 
import os  
import csv
import numpy as np  
from sqlalchemy import create_engine, text
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.exc import ProgrammingError 
from sqlalchemy.dialects.mysql import YEAR 
from sqlalchemy.dialects.mysql import insert
from sqlalchemy.orm import sessionmaker  
from pandas.io import sql
import subprocess
from urllib.parse import quote_plus
import time
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Float, DateTime, ForeignKey, func  
from sqlalchemy.dialects.mysql import insert  
from sqlalchemy.sql import select    
import pymysql  
from datetime import datetime  
import json

In [4]:
# Create an engine and connect to MySQL

password = quote_plus("Plrtsp@2023!")
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306', echo=False)
conn = engine.connect()

# Create database if not exists
conn.execute(text("CREATE DATABASE IF NOT EXISTS marketplace_store"))
print(conn.execute(text("SHOW DATABASES")).fetchall())
conn.close()
# Use the new database
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306/marketplace_store', echo=False)
conn = engine.connect()
conn.execute(text("USE marketplace_store"))

[('cleaned_superstoredata',), ('friends',), ('information_schema',), ('marketplace',), ('marketplace_store',), ('mysql',), ('performance_schema',), ('project_book',), ('project_satifcli',), ('sakila',), ('sys',), ('world',)]

In [6]:
password = quote_plus("Plrtsp@2023!")     # ICI la base de données est déja crée et prête et je vérifie ma connection
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306/marketplace')
connection= engine.connect()
print(connection)

<sqlalchemy.engine.base.Connection object at 0x000002D6B47BC350>

In [8]:
df_clients = pd.read_json("C:/Users/chris/Desktop/Brief_ALBD/data-json/clients.json")
df_produits=pd.read_json("C:/Users/chris/Desktop/Brief_ALBD/data-json/produits_sous_categorie.json")
df_ventes=pd.read_json("C:/Users/chris/Desktop/Brief_ALBD/data-json\\ventes.json")

In [9]:
df_clients.head()

  client_id sex  birth
0    c_4450   f   1977
1     c_277   f   2000
2    c_4270   f   1979
3    c_4597   m   1963
4    c_1242   f   1980

In [12]:
df_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336488 entries, 0 to 336487
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   client_id  336488 non-null  object
 1   sex        336488 non-null  object
 2   birth      336488 non-null  int64
dtypes: int64(1), object(2)
memory usage: 7.7+ MB

In [14]:
df_clients.describe()

               birth
count  336488.000000
mean     1977.824181
std        13.524363
min      1929.000000
25%      1971.000000
50%      1980.000000
75%      1987.000000
max      2004.000000

In [16]:
df_clients.shape

(336488, 3)

In [18]:
df_clients.dtypes

client_id    object
sex          object
birth         int64
dtype: object

In [22]:
# Lecture du fichier JSON en spécifiant le type pour product_id  
df_produits = pd.read_json("C:/Users/chris/Desktop/Brief_ALBD/data-json/produits_sous_categorie.json",   
                           dtype={'product_id': str})  

# Vérification des données  
df_produits.head()  
#df_produits.info()

  product_id     category        sub_category  price  stock_quantity
0     0_1483    Vêtements            T-shirts   4,99              48
1      2_226      Montres  Montres connectées  65,75              63
2      1_374  Accessoires         Sacs à main  10,71              97
3     0_2186    Vêtements            T-shirts    4,2              57
4     0_1351    Vêtements            T-shirts   8,99              59

In [24]:
# Vérification des doublons  
duplicates = df_produits[df_produits.duplicated(subset='product_id', keep=False)]  
print(f"Nombre de lignes dupliquées : {len(duplicates)}")  

# Nombre de product_id uniques  
unique_product_ids = df_produits['product_id'].nunique()  
print(f"Nombre total de product_id uniques : {unique_product_ids}")  
print(f"Nombre total de lignes dans le DataFrame : {len(df_produits)}")

Nombre de lignes dupliquées : 336441
Nombre total de product_id uniques : 3239
Nombre total de lignes dans le DataFrame : 336488

In [26]:
df_produits.head()

  product_id     category        sub_category  price  stock_quantity
0     0_1483    Vêtements            T-shirts   4,99              48
1      2_226      Montres  Montres connectées  65,75              63
2      1_374  Accessoires         Sacs à main  10,71              97
3     0_2186    Vêtements            T-shirts    4,2              57
4     0_1351    Vêtements            T-shirts   8,99              59

In [28]:
df_produits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336488 entries, 0 to 336487
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   product_id      336488 non-null  object
 1   category        336488 non-null  object
 2   sub_category    336488 non-null  object
 3   price           336488 non-null  object
 4   stock_quantity  336488 non-null  int64
dtypes: int64(1), object(4)
memory usage: 12.8+ MB

In [30]:
df_produits.describe()

       stock_quantity
count   336488.000000
mean        50.901964
std         28.625418
min          1.000000
25%         27.000000
50%         49.000000
75%         76.000000
max         99.000000

In [32]:
df_produits.dtypes

product_id        object
category          object
sub_category      object
price             object
stock_quantity     int64
dtype: object

In [34]:
df_produits.shape

(336488, 5)

In [36]:
df_ventes.head()

   product_id                date session_id client_id  quantity_sold
0        1483 2021-10-04 18:37:00    s_18746    c_4450              5
1        2226 2022-03-02 01:55:00   s_159142     c_277              6
2        1374 2021-09-23 15:13:00    s_94290    c_4270              3
3        2186 2021-10-17 03:27:00   s_105936    c_4597              8
4        1351 2021-07-17 20:34:00    s_63642    c_1242              2

In [38]:
df_ventes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336488 entries, 0 to 336487
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   product_id     336488 non-null  int64
 1   date           336488 non-null  datetime64[ns]
 2   session_id     336488 non-null  object
 3   client_id      336488 non-null  object
 4   quantity_sold  336488 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 12.8+ MB

In [41]:
df_ventes.describe()

          product_id                           date  quantity_sold
count  336488.000000                         336488  336488.000000
mean     1414.012928  2021-09-04 07:53:14.742695424       5.498764
min         0.000000            2021-01-03 00:01:00       1.000000
25%      1281.000000            2021-05-18 13:26:45       3.000000
50%      1424.000000            2021-08-29 23:36:00       5.000000
75%      1586.000000            2021-12-07 12:52:15       8.000000
max      2307.000000            2022-12-02 23:59:00      10.000000
std       419.324267                            NaN       2.874669

In [40]:
df_ventes.dtypes

product_id                int64
date             datetime64[ns]
session_id               object
client_id                object
quantity_sold             int64
dtype: object

In [42]:
df_ventes.shape

(336488, 5)

In [87]:
df_clients.duplicated().sum()

0

In [44]:
df_produits.duplicated().sum()

333249

In [ ]:
# Configuration de la connexion à la base de données  
password = quote_plus("Plrtsp@2023!")  
engine = create_engine(f'mysql+pymysql://root:{password}@localhost/marketplace_store?charset=utf8mb4')  
metadata = MetaData()  

# Définition des tables  
clients_table = Table('clients', metadata,  
    Column('client_id', String(10), primary_key=True),  
    Column('sex', String(1)),  
    Column('birth', Integer)  
)  

produits_table = Table('produits_sous_categorie', metadata,  
    Column('product_id', String(20), primary_key=True),  
    Column('category', String(50)),  
    Column('sub_category', String(50)),  
    Column('price', Float),  
    Column('stock_quantity', Integer)  
)  

ventes_table = Table('ventes', metadata,  
    Column('id_vt', Integer, primary_key=True, autoincrement=True),  
    Column('product_id', String(20), ForeignKey('produits_sous_categorie.product_id')),  
    Column('date', DateTime),  
    Column('session_id', String(10)),  
    Column('client_id', String(10), ForeignKey('clients.client_id')),  
    Column('quantity_sold', Integer)  
)  

def create_tables():  
    metadata.create_all(engine)  
    print("Tables créées avec succès.")

In [62]:

def check_tables_exist():  
    try:  
        with engine.connect() as conn:  
            conn.execute(select(1).select_from(clients_table).limit(1))  
            conn.execute(select(1).select_from(produits_table).limit(1))  
            conn.execute(select(1).select_from(ventes_table).limit(1))  
        print("Toutes les tables nécessaires existent déjà.")  
    except ProgrammingError:  
        print("Au moins une table n'existe pas. Création des tables...")  
        create_tables()  

def preprocess_data(df):  
    if 'price' in df.columns:  
        df['price'] = df['price'].str.replace(',', '.').astype(float)  
    if 'date' in df.columns:  
        df['date'] = pd.to_datetime(df['date'], errors='coerce', format='%Y-%m-%d %H:%M:%S')  
    return df  

def insert_data(df_clients, df_produits, df_ventes):  
    with engine.begin() as conn:  
        try:  
            # Prétraitement des données  
            df_clients = preprocess_data(df_clients)  
            df_produits = preprocess_data(df_produits)  
            df_ventes = preprocess_data(df_ventes)  

            # Suppression des doublons complets pour les clients  
            df_clients_unique = df_clients.drop_duplicates(subset=['client_id', 'sex', 'birth'])  
            print(f"Nombre de lignes uniques pour les clients : {len(df_clients_unique)}")  

            # Insertion des clients  
            for _, row in df_clients_unique.iterrows():  
                stmt = insert(clients_table).values(row.to_dict())  
                stmt = stmt.on_duplicate_key_update(  
                    sex=stmt.inserted.sex,  
                    birth=stmt.inserted.birth  
                )  
                conn.execute(stmt)  
            print(f"Insertion des clients terminée. Nombre de lignes : {len(df_clients_unique)}")  

            # Suppression des doublons complets pour les produits  
            df_produits_unique = df_produits.drop_duplicates(subset=['product_id', 'category', 'sub_category', 'price', 'stock_quantity'])  
            print(f"Nombre de lignes uniques pour les produits : {len(df_produits_unique)}")  

            # Insertion des produits  
            for _, row in df_produits_unique.iterrows():  
                stmt = insert(produits_table).values(row.to_dict())  
                stmt = stmt.on_duplicate_key_update(  
                    category=stmt.inserted.category,  
                    sub_category=stmt.inserted.sub_category,  
                    price=stmt.inserted.price,  
                    stock_quantity=stmt.inserted.stock_quantity  
                )  
                conn.execute(stmt)  
            print(f"Insertion des produits terminée. Nombre de lignes : {len(df_produits_unique)}")  

            # Vérifiez que tous les `product_id` dans `df_ventes` existent dans `df_produits`  
            existing_products = set(df_produits_unique['product_id'].tolist())  
            df_ventes_filtered = df_ventes[df_ventes['product_id'].isin(existing_products)]  

            # Insertion des ventes  
            for _, row in df_ventes_filtered.iterrows():  
                stmt = insert(ventes_table).values(row.to_dict())  
                conn.execute(stmt)  
            print(f"Insertion des ventes terminée. Nombre de lignes : {len(df_ventes_filtered)}")  

            print("Données insérées avec succès.")  
        except Exception as e:  
            print(f"Erreur lors de l'insertion des données: {e}")  
            raise  

    # Vérification du nombre de lignes dans chaque table  
    with engine.connect() as conn:  
        clients_count = conn.execute(select(func.count()).select_from(clients_table)).scalar()  
        produits_count = conn.execute(select(func.count()).select_from(produits_table)).scalar()  
        ventes_count = conn.execute(select(func.count()).select_from(ventes_table)).scalar()  

    print(f"Nombre de lignes dans la table clients : {clients_count}")  
    print(f"Nombre de lignes dans la table produits : {produits_count}")  
    print(f"Nombre de lignes dans la table ventes : {ventes_count}")  

# Charger les données depuis des fichiers JSON  
df_clients = pd.read_json(r"C:\Users\chris\Desktop\Brief_ALBD\data-json\clients.json")  
df_produits = pd.read_json("C:/Users/chris/Desktop/Brief_ALBD/data-json/produits_sous_categorie.json",   
                           dtype={'product_id': str})  

df_ventes = pd.read_json(r"C:\Users\chris\Desktop\Brief_ALBD\data-json\ventes.json",dtype={'product_id': str})   

# Vérifier si les tables existent et les créer si nécessaire  
check_tables_exist()  

# Insérer les données  
insert_data(df_clients, df_produits, df_ventes)

Au moins une table n'existe pas. Création des tables...
Tables créées avec succès.
Nombre de lignes uniques pour les clients : 8600
Insertion des clients terminée. Nombre de lignes : 8600
Nombre de lignes uniques pour les produits : 3239
Insertion des produits terminée. Nombre de lignes : 3239
Insertion des ventes terminée. Nombre de lignes : 336488
Données insérées avec succès.
Nombre de lignes dans la table clients : 8600
Nombre de lignes dans la table produits : 3239
Nombre de lignes dans la table ventes : 336488